.page{
    display: grid;
    grid-template-areas:
      "nav nav nav nav"
      "head head head head"
      "main main main main"
      "foot foot foot foot";
    grid-template-rows: 1fr,1fr,1fr,1fr;
    grid-template-columns: repeat(4,1fr);
}
.page > header {
    grid-area: head;
}
  
.page > nav {
    grid-area: nav;
}
  
.page > main {
    grid-area: main;
}
  
.page > footer {
    grid-area: foot;
}