.text-color-grey{
    color: #777;
}

.text-center{
    text-align: center;
}
.item-img{
    width: 100%;
    border-radius: 6px;
}

.grid-container{
    padding-bottom: 30px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3,1fr);
}
.back-color{
    background-color: #daa520;
    color: #000;
}

.img-circle{
    border-radius: 50%;
}

.btn{
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
}
