.navbar {
    background-color: #333;
    overflow: hidden;
    position: sticky;
    top: 0;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: black;
}
.right-elements{
    float:right;
    margin-top: 10px;
    padding: 8px 10px ;
    border-radius: 5px;
}
.to-right{
    margin-right: 150px;

}
.to-left{
    margin-left: 150px;
}
.sub-menu{
    list-style: none;
    display: none;
}
.sub-menu-triger:hover .sub-menu{
    display:block;
}

@media (max-width:1000px) {
    nav> div > input, button {
        visibility: hidden;
    }
    
    nav>div > a:not(:first-child) {
        visibility: hidden;
    }

    nav>div > a:first-child{
        font-size: 35px;
    }
}
